* {
    background-color: #213b50;
    color: #ffffff;
    margin-block-start: 8px;
    box-sizing: border-box;
}

form {
    max-width: 600px;
}

input,
select,
textarea {
    display: block;
    width: 50%;
    border-style: none;
    background-color: #2b4a64;
    line-height: 25px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #ffffff;
    background-color: #4e708c;
}

input[name="gender"] {
    display: inline-block;
    width: auto;
}

p {
    margin-block-end: 0;
}

#message {
    height: 100px;
}

#agreement{
    width: auto;
    display: inline-block;
}

input[type=submit]{
    width: auto;
    background-color:#1ac056;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #46e881;
}
